caption{
    text-transform: uppercase;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

th {
    background-color: red;
}

table {
    border: 1px solid black;
}