h1 {
    text-align: center;
    font-size: x-large;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
figcaption{
    text-align: center;
}
p.one {
    text-align: center;
}
p.two {
    text-align: center;
}
p.three {
    text-align:center;
}