p.one {
    border: 1px solid black;
    padding: 3em;
    margin: 1em;
    margin-bottom: 0em;
}
p.two {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 5em;
    margin-top: 0em;
}
p.three {
    border-left: 3px solid black;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 8em;
    margin-left: 0em;
    margin-right: 0em;
}
p.four {
    border: 5px dashed red;
    border-radius: 1em;
}