body{
    font-family: Arial, Verdana, sans-serif;
    background-color: chartreuse;
 }
h1, h2{
    color: blue;
    font-weight: bold;
}
h1{
    font-size: 3.5em;
}
ul, ol{
    font-size: 1.8em;
    border-style: solid;
    color: darkgrey;
    text-indent: 3.0em;
}
figcaption{
    font-size: small;
    font-weight: bold;
}
p.copyright_notice{
    font-size: 0.8em;
}
p.code_example {
    margin-left: 20px;
    color: #0D3349;
}
#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}
